<div>
	<form method="post">
		<div>
			<label>Query:</label>
			<input style="width: 100%" name="query" value="{{ queryString }}" />
		</div>

		<button name="submit" type="submit" value="1">Submit</button>
	</form>

	{% if result %}
		<h2>Result</h2>
		<div>
			{{ dump( result ) }}
		</div>
	{% endif %}
</div>
